<template>
  <div id="app">
    <v-app id="login" style="height: 100vh">
      <div class="container">
        <div class="logo-container">
          <img src="../../assets/logo.svg" alt="Outcrowd logo" />
          <div class="logo-text">outcrowd</div>
        </div>

        <div class="heading">Login</div>

        <v-form lazy-validation ref="form" v-on:submit.prevent="signIn(form.email,form.password)">
          <v-text-field
            v-model="form.email"
            :error-messages="errorMessage"
            :rules="emailRules"
            v-validate="'required'"
            label="Email address or Username"
            prepend-icon="person_outline"
          ></v-text-field>

          <v-text-field
            v-model="form.password"
            label="Password"
            :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="() => (value = !value)"
            :type="value ? 'password' : 'text'"
            prepend-icon="lock_outline"
            v-validate="'required'"
          ></v-text-field>
          <div class="forgot-password" v-ripple>
            <a href="javascript:void(0)" @click="forgotPassword">Forgot password?</a>
          </div>
          <v-checkbox class="remember-me" v-model="checkbox" label="Remember me"></v-checkbox>

          <div class="my-2 login-btn">
            <v-btn :disabled="!valid" :loading="loading" type="submit" class="red-btn" large>Log in</v-btn>
          </div>
        </v-form>

        <div class="divider">or use</div>

        <div class="social-icons">
          <img @click="googleLogin" src="../../assets/images/google.png" alt="Google login" />
          <img @click="facebookLogin" src="../../assets/images/fb.png" alt="Facebook login" />
        </div>
      </div>

      <v-snackbar v-model="snackbar" :timeout="timeout">
        {{ text }}
        <v-btn color="blue" text @click="snackbar = false"></v-btn>
      </v-snackbar>
      <div class="footer">
        <a
          v-ripple
          href="javascript:void(0)"
          @click="$router.replace('register')"
        >Don’t have an account? Sign up</a>.
      </div>
    </v-app>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import { LOGIN } from "../../store/actions.type";

export default {
  mixins: [validationMixin],
  name: "Login",
  components: {
    //
  },
  validations: {
    email: { required, email },
    password: { required }
  },
  data() {
    return {
      form: {
        email: "",
        password: ""
      },
      valid: true,
      value: true,
      snackbar: false,
      text: "",
      timeout: 1000,
      checkbox: "",
      hasErrors: false,
      errorMessage: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      loader: null,
      loading: false,
      doneLoading: false
    };
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    signIn(email, password) {
      this.$validator.validate().then(result => {
        if (result) {
          this.loading = true;
          this.$store
            .dispatch(LOGIN, { email, password })
            .then(response => {
              this.loading = false;
              this.loader = false;
              this.$router.replace({ name: "home" });
            })
            .catch(error => {
              this.errorMessage = error.data.message;
              this.loading = false;
              this.loader = false;
            });
        } else {
          this.loading = false;
        }
      });
    },
    submit() {
      //
    },
    googleLogin() {
      this.snackbar = true;
      this.text = "Google login";
    },
    facebookLogin() {
      this.snackbar = true;
      this.text = "Facebook login";
    },
    forgotPassword() {
      this.snackbar = true;
      this.text = "Forgot password";
    }
  }
};
</script>
<style lang="scss">
.footer {
  a {
    color: #ffffff !important;
  }
}
</style>