<template>
    <div class="onboarding">
        <div class="skip" @click="$router.replace('login')">Skip</div>
        <swiper ref="mySwiper" class="swiper" 
            :options="swiperOption"
            @slideChange="onSwipe"
            >
            <swiper-slide v-for="item in items" :key="item.id">
                <img :src="item.src" alt="Onboarding image">
                <div class="head">{{ item.heading }}</div>
                <div class="subhead">{{ item.text }}</div>
        
                <div class="my-2 get-started" v-if="item.button">
                    <v-btn color="primary" large @click="$router.replace('login')">Get started</v-btn>
                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>       

    </div>
</template>

<script>
    import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
    import 'swiper/css/swiper.css'

    export default {
        name: 'Onboarding',
        components: {
            Swiper,
            SwiperSlide
        },
        data(){
            return {
                getSlide: 0,
                lastSlide: false,
                swiperOption: {
                    spaceBetween: 30,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    // on: {
                    //     slideChange: function () {
                    //         this.onSwipe()
                    //         // //const lastVisibleItem = this.realIndex + this.params.slidesPerView;
                    //         // this.getSlide = this.activeIndex
                            
                    //         // //this.getSlide = this.activeIndex
                    //         // console.log(this)
                    //         // console.log(this.activeIndex)


                    //         //let slidesLength = this.slides.length - 2;
                    //         //console.log(lastVisibleItem)
                    //         // let lastVisibleIndex = this.realIndex + this.params.slidesPerView
                    //         // // if swiper reaches the end of displayed items, goToNext redirects swiper to the start
                    //         // if (lastVisibleItem > slidesLength) {
                    //         // this.slideTo(1)
                    //         // }
                    //         // // if swiper wants to go before the first item, then forward swiper to the last item
                    //         // if (lastVisibleIndex >= this.slides.length) {
                    //         // this.slideTo((slidesLength - this.params.slidesPerView) + 1)
                    //         // }
                    //     }
                    // },
                    onSlideChangeEnd:function(){
                        this.onSwipe()
                    }
                },
                items: [
                    {
                        id: 1,
                        heading: 'Attend events',
                        text: 'Dignissim magnis dictum at ornare egestas. Non et proin elementum risus magna dignissim eu',
                        src: require('@/assets/images/slide1.png'),
                    },
                    {
                        id: 2,
                        heading: 'Make friends',
                        text: 'Dignissim magnis dictum at ornare egestas. Non et proin elementum risus magna dignissim eu',
                        src: require('@/assets/images/slide2.png'),
                    },
                    {
                        id: 3,
                        heading: 'One on one chat',
                        text: 'Dignissim magnis dictum at ornare egestas. Non et proin elementum risus magna dignissim eu',
                        src: require('@/assets/images/slide3.png'),
                        button: true,
                    },
                ]
            }
        },
        watch: {
            getSlide(oldVal, newVal) {
                console.log(oldVal)
                console.log(newVal)
            } 
        },
        methods: {
            onSwipe() {

                let lastVisibleItem = this.activeIndex;
                if (lastVisibleItem == 3) {
                    this.lastSlide = true;
                }


                // const swiper = this.$refs.mySwiper.swiper;     
                // console.log(this.slides);
                // console.log(swiper);
            }
        },
        computed: {
            swiper() {
                return this.$refs.mySwiper.swiper
            }
        },
        mounted() {
            this.swiper.on('slideChange',()=>{
                this.onSwipe(this)
            });
        }
    }
</script>
<style lang="scss">
    
</style>

