<template>
    <div id="register" style="height: 100vh;">
        <div class="container">
            <div class="logo-container">
                <img src="../../assets/logo.svg" alt="Outcrowd logo" >
                <div class="logo-text">outcrowd</div>
            </div>

            <div class="heading">
                Sign up
            </div>

            <v-form ref="form"
                    lazy-validation >

                <v-text-field
                        v-model="email"
                        :error-messages="emailErrors"
                        @input="$v.email.$touch()"
                        @blur="$v.email.$touch()"
                        label="Email address or Username"
                        prepend-icon="person_outline"
                        required >
                </v-text-field>

                <div class="my-2 create-account">
                    <v-btn class="red-btn" @click="$router.replace({name: 'set-up-password'})" large>Create account</v-btn>
                </div>

            </v-form>

            <div class="divider">
                or sign up using
            </div>

            <div class="social-icons">
                <img @click="googleLogin" src="../../assets/images/google.png" alt="Google login">
                <img @click="facebookLogin" src="../../assets/images/fb.png" alt="Facebook login">
            </div>
        </div>

        <v-snackbar
                v-model="snackbar"
                :timeout="timeout">
            {{ text }}
            <v-btn
                    color="blue"
                    text
                    @click="snackbar = false">
            </v-btn>
        </v-snackbar>

        <div class="footer">
            <a href="javascript:void(0)" @click="$router.replace('login')">Have an account? Log in instead</a>
        </div>
    </div>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, email } from 'vuelidate/lib/validators'

    export default {
        mixins: [validationMixin],
        name: 'Login',
        components: {
            //
        },
        validations: {
            email: { required, email },
            password: { required },
        },
        data(){
            return {
                email: '',
                password: '',
                valid: true,
                value: true,
                snackbar: false,
                text: '',
                timeout: 1000,
            }
        },
        computed: {
            emailErrors () {
                const errors = []
                if (!this.$v.email.$dirty) return errors
                !this.$v.email.email && errors.push('Must be valid e-mail')
                !this.$v.email.required && errors.push('E-mail is required')
                return errors
            },
            passwordErrors () {
                const errors = []
                if (!this.$v.password.$dirty) return errors
                !this.$v.password.required && errors.push('Password is required')
                return errors
            },
        },
        methods: {
            $() {
                this.$v.$touch()
            },
            googleLogin() {
                this.snackbar = true;
                this.text = 'Google login'
            },
            facebookLogin() {
                this.snackbar = true;
                this.text = 'Google login'
            }
        }
    }
</script>
<style lang="scss">
    //
</style>

