<template>
    <div id="login" style="height: 100vh;">
        <div class="container">
            <div class="logo-container">
                <img src="../../assets/logo.svg" alt="Outcrowd logo" >
                <div class="logo-text">outcrowd</div>
            </div>

            <div class="heading">
                Set up password
            </div>

            <v-form ref="form"
                    lazy-validation >

                <v-text-field
                        label="Password"
                        :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="value ? 'password' : 'text'"
                        :rules="[rules.required, rules.min]"
                        prepend-icon="lock_outline"
                        class="input-group--focused"
                        @click:append="pass1 = !pass1"
                        required >
                </v-text-field>

                <v-text-field
                        label="Re-enter password"
                        :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="value ? 'password' : 'text'"
                        :rules="[rules.required, rules.min]"
                        prepend-icon="lock_outline"
                        class="input-group--focused"
                        @click:append="pass2 = !pass2"
                        required >
                </v-text-field>

                <div class="my-3 continue-btn">
                    <v-btn @click="$router.replace({name: 'welcome'})" large>Continue</v-btn>
                </div>

            </v-form>
        </div>

        <v-snackbar
                v-model="snackbar"
                :timeout="timeout">
            {{ text }}
            <v-btn
                    color="blue"
                    text
                    @click="snackbar = false">
            </v-btn>
        </v-snackbar>
        <div class="footer">
        </div>
    </div>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, minLength } from 'vuelidate/lib/validators'

    export default {
        mixins: [validationMixin],
        name: 'SetUpPassword',
        components: {
            //
        },
        validations: {
            password: { required, minLength: minLength(6) },
        },
        data(){
            return {
                password: '',
                pass1: false,
                pass2: false,
                valid: true,
                value: true,
                snackbar: false,
                text: '',
                timeout: 1000,        
                rules: {
                  required: value => !!value || 'Required.',
                  min: v => v.length >= 6 || 'More than 6 characters long',
                },
            }
        },
        computed: {
            passwordErrors () {
                const errors = []
                if (!this.$v.password.$dirty) return errors
                this.$v.password.minLength >= 6 && errors.push('')
                return errors
            },
        },
        methods: {
            submit() {
                this.$v.$touch()
            },
            googleLogin() {
                this.snackbar = true;
                this.text = 'Google login'
            },
            facebookLogin() {
                this.snackbar = true;
                this.text = 'Facebook login'
            },
            forgotPassword() {
                this.snackbar = true;
                this.text = 'Forgot password'
            }
        }
    }
</script>
<style lang="scss">
    //
</style>

