<template>
  <div class="splash">
    <img class="logo" src="../../assets/onboarding-logo.svg" alt="Outcrowd logo" />
    <div class="logo-text">outcrowd</div>
  </div>
</template>

<script>
import { CHECK_AUTH } from "../../store/actions.type";

export default {
  name: "Splash",
  components: {
    //
  },
  mounted() {
      this.checkAuth();
  },
  methods: {
      checkAuth() {

      }
  }
};
</script>

