<template>
    <div class="welcome container">
      <div class="logo">
        <img src="../../assets/onboarding-logo.svg" alt="Outcrowd logo" >
        <div class="logo-text">outcrowd</div>
      </div>
      <div class="heading">
        <h1>Welcome to Outcrowd!</h1>
        <p>Let's create your profile now.</p>
      </div>
      <div class="my-2 cta">
          <v-btn @click="$router.replace({name: 'step1'})" large>Proceed</v-btn>
      </div>
    </div>
</template>

<script>
    export default {
        name: 'Welcome',
        components: {
            //HelloWorld
        }
    }
</script>
<style lang="scss">
    //
</style>

