@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

$white: #fff;
$black: #000;
$blue: #434399;
$red: #E24444;
$disable: rgba(0, 0, 0, 0.54);
@mixin default-font {
  font-family: Rubik, serif;
  font-style: normal;
  font-weight: 300;
}

@mixin hoverlink {
  background-color: #eee;
}

@mixin _button($bgColor, $spancolor) {
  background-color: $bgColor !important;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 50px;
  box-shadow: none;

  span {
    @include default-font;
    color: $spancolor !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

form {
  .v-label {
    transform-origin: top left;
  }
}

.w100 {
  width: 100%;
}

.footer {
  background: url('assets/images/footer.png');
  background-repeat: no-repeat;
  align-self: flex-end;
  height: 124px;
  text-align: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    top: 25px;
  }
}

@import './reset.scss';
@import './onboarding.scss';
@import './splash.scss';
@import './login.scss';
@import './register.scss';
@import './create-profile.scss';
@import './home.scss';
