#create-profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  .heading {
    background-image: url('assets/images/createprofile_bg.png');
    @include default-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: $white;
    height: 163px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0px 10px;
  }
  .navigation {
    .btn {
      display: flex;
      place-content: space-between;
    }
    .back-btn {
      @include _button($white, $blue);
    }
    .red-btn {
      @include _button($red, $white);
    }
  }
}