#activity {

  header {
    background: linear-gradient(180deg, #E24444 0%, #434399 100%);
    // background: url('assets/images/home-topbg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    &.v-app-bar--shrink-on-scroll {
      transition: all 0.1s ease-in-out;
      
      .profile-image-container {
        position: absolute;
        left: 20px;
        top: 90px;

        .profile-image {
          border: 3px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 50%;
          width: 115px;
          height: 115px;
        }
      }

      .v-toolbar__title {
        font-weight: 500;
        font-size: 1em;
        line-height: 28px;
        display: flex;
        flex-direction: column;
        font-feature-settings: 'liga' off;
        color: $white;
        margin-left: 8rem;
        width: 100%;
        // transform: translate(12%, -18%);
        transition: all 0.2s ease-in-out;
        overflow: visible;

        span {
          align-items: flex-end;
          font-size: 0.4em;
          line-height: 12px;
          color: $white;
          // transform: translate(12%, 0%);
          width: 80%;
          white-space: pre-wrap;
        }
      }

    }
    &.v-app-bar--is-scrolled {
      background-color: $white !important;
      height: 80px !important;
      background: none;
                
      .profile-image-container {
        display: none;
      }

      .v-toolbar__title {
        transform: translate(0, 100%);
        align-items: flex-start;
        transition: all 0.2s ease-out;
        margin-left: 0rem;

        span {
          display: none;
        }
      }

      .v-btn__content {
        color: $blue;
      }

      .v-toolbar__title {
        color: $black;
      }
    }
  }

  .v-tabs {
    margin-top: 100px;

    .v-tab {
      color: $black;
      opacity: 0.54;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      font-feature-settings: 'liga' off;

      span {
        font-size: 12px;
        line-height: 23px;
      }
    }

    .v-tab--active {
      opacity: 1;
    }
  }

  .v-toolbar {
    box-shadow: none;
  }


  

  .content {
    height: 500px;
  }

  .v-bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-evenly;

    .v-btn--active {
      color: $red;
    }
  }
}