#login {
  @include default-font;
  padding-top: 2em;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .container {
    align-self: flex-start;
    height: 100%;
  }
  .heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $blue;
    margin: 50px 0 0 60px;
  }
  .logo-container {
    background: $white;
    display: flex;
    flex-direction: column;
    .logo-text {
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.19em;
      color: $red;
    }
  }
  .v-form {
    padding: 20px;
  }
  .v-input__prepend-outer {
    padding: 5px 15px 5px 0;
    margin-top: 0px;
  }
  .remember-me {
    margin-top: 25px;
    label {
      font-weight: normal;
      font-size: 16px !important;
      line-height: 23px;
      color: $disable;
      padding-left: 5px;
    }
  }
  .forgot-password {
    float: right;
    margin-top: 18px;
    color: $blue;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    a {
      color: $blue;
      text-decoration: none;
    }
  }
  form {
     .continue-btn {
      width: 100%;
      float: right;
      button {
        margin-top: 20px;
        background-color: $red !important;
        color: $white;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        border-radius: 50px;
        width: 50%;
        float: right;
      }
     }
    .login-btn {
      margin: 0 auto;
      width: 100%;
      padding: 0 20px;
      .red-btn {
        @include _button($red, $white);
        width: 100%;
      }
    }
    .v-text-field {
      margin-bottom: 10px;
    }
  }
  .divider {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: $black;
    opacity: 0.54;
    margin: 10px 0;
  }
  .social-icons {
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0;
    img {
      cursor: pointer;
    }
  }
}