.onboarding {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  .skip {
    @include default-font;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $blue;
    cursor: pointer;
    z-index: 10;
    &:hover {
      @include hoverlink
    }
  }
  .head {
    @include default-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $blue;
    padding: 20px 10px 0px 10px;
  }
  .subhead {
    @include default-font;
    font-size: 16px;
    line-height: 19px;
    color: $blue;
    padding: 10px 20px;
  }
  .swiper {
    padding-top: 5em;
     height: calc(450px + 13em);
    //height: 100%;
    width: 100%;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
    .swiper-pagination-bullet-active {
      border-radius: 10px;
      width: 30px;
      background: $red;
    }
  }
  .get-started {
    // @include lastChild($show: false);
    // margin-top: 5em;
    position: relative;
    top: 5em;
    margin-bottom: 1em;
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    button {
      background-color: $red !important;
      color: $white;
      @include default-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      border-radius: 50px;
      width: 100%;
    }
  }

  .swiper-pagination {
    // top: calc(100vh - 250px);
  }
  .swiper-pagination-bullets {
    bottom: 150px !important;
  }
}