.splash {
  background: linear-gradient(180deg, #E24444 0%, #434399 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .logo-text {
    @include default-font;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.19em;
    color: $white;
  }
}
.welcome {
  background-image: linear-gradient(180deg, #E24444 0%, #434399 100%), url('assets/images/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hard-light, normal;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  .cta {
    width: 40%;
  }
  .logo {
    display: flex;
    flex-direction: column;
   // padding: 80px 0 30px;
  }
  img {
    width: 81px;
    height: 81px;
  }
  .welcome-overlay {
    width: auto;
  }
  .logo-text {
    @include default-font;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.19em;
    color: $white;
  }
  .heading {
    //margin-bottom: 20px;
  }
  h1 {
    @include default-font;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: $white;
  }
  p {
    @include default-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $white;
  }
  button {
    margin-top: 20px;
    background-color: $red !important;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-radius: 50px;
    width: 100%;
    span {
      @include default-font;
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }
}