<template>
  <div id="create-profile">
    <div class="heading">Create Profile</div>
    <div class="form" v-if="step == 1">
      <v-form>
        <v-container>
          <v-row>

            <v-col cols="12" sm="12">
              <v-text-field
                v-model="username"
                :rules="rules"
                label="Username"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12">
              <v-text-field
                v-model="firstname"
                :rules="rules"
                label="First name"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12">
              <v-text-field
                v-model="lastname"
                :rules="rules"
                label="Last name"
              ></v-text-field>
            </v-col>

          </v-row>
        </v-container>
      </v-form>
    </div>
    
    <div class="form" v-if="step == 2">
      <v-form>
        <v-container>
          <v-row>

            <v-col cols="12" sm="12">
              <v-text-field
                v-model="city"
                :rules="rules"
                label="City"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12">
              <v-text-field
                v-model="birthday"
                :rules="rules"
                label="Birthday"
              ></v-text-field>
            </v-col>

          </v-row>
        </v-container>
      </v-form>
    </div>

    <div class="form" v-if="step == 3">
      
        <div
          class="base-image-input"
          :style="{ 'background-image': `url(${imageData})` }"
          @click="chooseImage">
          <span
            v-if="!imageData"
            class="placeholder">
              <i class="material-icons">image</i>Upload image
          </span>
          <input
            accept="image/x-png,image/gif,image/jpeg"
            class="file-input"
            ref="fileInput"
            type="file"
            @input="onSelectFile">
        </div>

    </div>

    <div class="container navigation">
        <div class="btn" :style="step == 1 ? 'place-content: flex-end;' : ''">
            <v-btn v-if="step != 1" @click="step1" large class="back-btn"><i class="material-icons">arrow_back</i>Back</v-btn>
            <v-btn large class="red-btn" @click="step2">{{ step == 3 ? 'Finish Profile' : 'Continue' }}</v-btn>
        </div>
    </div>
  </div>
</template>
<script>
    import { required } from 'vuelidate/lib/validators'

    export default {
        name: 'CreateProfile',
        components: {
            //
        },
        validations: {
            username: { required },
        },
        data(){
            return {
                step: 1,
                username: '',
                firstname: '',
                lastname: '',
                city: '', 
                birthday: '',
                valid: true,
                value: true,
                snackbar: false,
                text: '',
                timeout: 1000,
                imageData: null,       
                rules: [
                  value => !!value || 'Required.',
                ],
            }
        },
        computed: {
            //
        },
        methods: {
            step1 () {
              this.step = this.step - 1;
            },
            step2 () {
              if (this.step != 3)
                this.step = this.step + 1;
            },
            chooseImage () {
              this.$refs.fileInput.click()
            },
            onSelectFile () {
              const input = this.$refs.fileInput
              const files = input.files
              if (files && files[0]) {
                const reader = new FileReader
                reader.onload = e => {
                  this.imageData = e.target.result
                }
                reader.readAsDataURL(files[0])
                this.$emit('input', files[0])
              }
            }
        }
    }
</script>

<style lang="scss">
.base-image-input {
  display: block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  border-radius: 50%;
}
.placeholder {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #F0F0F0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
}
.placeholder:hover {
  background: #E0E0E0;
}
.file-input {
  display: none;
}

</style>