<template>
  <div id="create-profile">
    <div class="heading">Create Profile</div>
      <div class="form">
        <v-form>
          <v-container>
            <v-row>

              <v-col cols="12" sm="12">
                <v-text-field
                  v-model="username"
                  :rules="rules"
                  label="Username"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12">
                <v-text-field
                  v-model="firstname"
                  :rules="rules"
                  label="First name"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12">
                <v-text-field
                  v-model="lastname"
                  :rules="rules"
                  label="Last name"
                ></v-text-field>
              </v-col>

            </v-row>
          </v-container>
        </v-form>
      </div>

      <div class="container navigation">
          <div class="btn">
              <v-btn large class="back">Back</v-btn>
              <v-btn large class="back">Back</v-btn>
              <v-btn large class="continue">Continue</v-btn>
          </div>
      </div>
    </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss">


</style>