<template>
  <div id="app">
    <v-app class="invite-friend">
      <v-toolbar flat fixed>
        <v-btn icon @click="$router.back()">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title>Invite friends</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <div class="content mt-12">
        <v-container>
          <v-text-field
            label="Search"
            prepend-icon="mdi-magnify"
          ></v-text-field>
        </v-container>
        <v-divider
        ></v-divider>
        <v-container>
        <v-row class="mt-2">
          <v-container>
            <div class="header d-flex flex-row w100 justify-space-between">
              <div class="friend-text">
                Friends
              </div>
              <div class="invite-all text-uppercase" v-ripple>
                Invite All
              </div>
            </div>
          </v-container>
          <v-col
            cols="12"
            class="friend-lists d-flex align-center pb-2 pt-2"
            v-for="request in requests"
            :key="request.id">
            <v-avatar size="40px">
              <img :alt="request.name" :src="request.image" />
            </v-avatar>
            <div class="name ml-5">{{ request.name }}</div>
            <v-card-actions class="pt-0 pb-0 align-self-end right">
              <span v-ripple class="text-uppercase invited">Invited</span>
            </v-card-actions>
          </v-col>
        </v-row>
        </v-container>
      </div>
    </v-app>
  </div>
</template>
<script>
export default {
  name: 'InviteFriend',
  data() {
    return {
      requests: [
        {
          id: 1,
          name: "Randy Corpuz",
          image: "https://loremflickr.com/320/240?random=1",
          status: false
        },
        {
          id: 2,
          name: "Andy Corpuz",
          image: "https://loremflickr.com/320/240?random=2",
          status: false
        },
        {
          id: 3,
          name: "Naruto Bautista",
          image: "https://loremflickr.com/320/240?random=3",
          status: true
        },
        {
          id: 4,
          name: "Marygrace Varquez",
          image: "https://loremflickr.com/320/240?random=4",
          status: false
        }
      ],
    }
  },
  metaInfo: {
    title: 'Invite friends',
    titleTemplate: '%s | Outcrowd',
    htmlAttrs: {
      lang: 'en',
      amp: true
    },
    headAttrs: {
      nest: 'eggs'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'theme-color', content: '#ffffff'},
      { name: 'description', content: 'gator' },
    ]
  },
}
</script>
<style lang="scss">
  .invite-friend {
    .v-toolbar {
      .v-icon {
        color: #434399;
      }
      .v-toolbar__title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* Dark slate blue */

        color: #434399;
      }
    }
    .content {
      .friend-lists {
          display: flex;
          align-items: center;
          padding: 0px 12px;
          .name {
            margin-left: 20px;
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 23px;
            /* or 164% */

            font-feature-settings: "liga" off;

            color: #000000;

            mix-blend-mode: normal;
            opacity: 0.87;
          }
          .v-card__actions {
            text-align: right;
          }
        }
      .invite-all {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: right;

        /* Imperial red */

        color: #E24444;
      }
      .invited {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* or 164% */

        display: flex;
        align-items: center;
        text-align: center;
        font-feature-settings: 'liga' off;

        /* Black */

        color: #000000;
        opacity: 0.54;
      }
      .friend-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* identical to box height, or 164% */

        display: flex;
        align-items: center;
        font-feature-settings: 'liga' off;

        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
</style>