<template>
  <div id="app">
    <v-app class="my-event">
      <v-toolbar 
      flat 
      fixed 
      prominent
      extended 
      height="200px"
      src="https://loremflickr.com/800/800?random=1">
        <v-btn icon @click="$router.back()">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title class="flex-column align-start">Christmas Day
        <span>0 people going</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-menu bottom right flat>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                dark
                icon
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list flat tile>
              <v-list-item link>
                <v-list-item-title>Edit details</v-list-item-title>
              </v-list-item>
              <v-list-item link>
                <v-list-item-title>Delete event</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
      </v-toolbar>
      <div class="content">
        <v-container>
            <div class="subheading">
              Where?
            </div>
            <div class="title justify-space-between pt-5 pb-5">
              Be-ing Suites
              <v-btn icon>
                <v-icon color="#434399">mdi-map-outline</v-icon>
              </v-btn>
            </div>
            <div class="subheading ">
              When?
            </div>
            <div class="title justify-space-between pt-5 pb-5">
              December 25, 2020 – 12AM
            </div>
            <div class="subheading ">
              Description
            </div>
            <div class="description pt-5">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus nemo voluptatem, provident sunt quasi possimus voluptates, accusamus esse maiores illo neque quod beatae. Repellendus modi assumenda corrupti officia, atque dolor.
            </div>
            <div class="invite-f mt-5">
              <v-btn icon @click="$router.push({name: 'invite-friend'})">
                <v-icon color="#E24444">mdi-plus-circle-outline</v-icon>
              </v-btn>
              <span @click="$router.push({name: 'invite-friend'})" v-ripple>Invite friends</span>
            </div>
        </v-container>
      </div>
    </v-app>
  </div>
</template>
<script>
export default {
  name: 'MyEvent',
  data() {
    return {

    }
  },
  metaInfo: {
    title: 'My event',
    titleTemplate: '%s | Outcrowd',
    htmlAttrs: {
      lang: 'en',
      amp: true
    },
    headAttrs: {
      nest: 'eggs'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'theme-color', content: '#ffffff'},
      { name: 'description', content: 'gator' },
    ]
  },
}
</script>
<style lang="scss">
  .my-event {
    .v-toolbar {
      .v-icon {
        color: #ffffff;
      }
      .v-toolbar__title {
        padding-left: 0px !important;
        position: absolute;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        display: flex;
        align-items: flex-end;

        color: #FFFFFF;
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 23px;
          /* identical to box height, or 164% */

       
          font-feature-settings: 'liga' off;

          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    .content {
      margin-top: 270px;
      .subheading {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* Dark slate blue */

        color: #434399;
      }
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;
        font-feature-settings: 'liga' off;

        color: rgba(0, 0, 0, 0.87);
      }
      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* or 164% */

        font-feature-settings: 'liga' off;

        color: rgba(0, 0, 0, 0.87);      
      }
      .invite-f {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        text-transform: uppercase;
        display: flex;
        align-items: center;

        /* Imperial red */

        color: #E24444;
      }
    }
  }
</style>