<template>
  <div>
    <v-toolbar dense flat fixed class="compose">
      <v-btn icon color="#434399" @click="$router.go(-1)">
        <v-icon>mdi-close</v-icon>
      </v-btn>

      <v-toolbar-title>Compose</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-check</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="6" >
          <v-textarea
            class="message"
            v-model="message"
            @keyup="checkLength"
            solo
            flat
            height="500"
            loader-height="10"
            name="input-7-4"
            placeholder="What’s on your mind?"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-container>
    <div class="compose-counter">
      <div class="counter">{{ totalcharacter }}/150</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Compose',
  data() {
    return {
      totalcharacter: 0,
      message: '',
    }
  },
  methods: {
    checkLength() {
      this.totalcharacter = this.message.length;
    }
  }
}
</script>
<style lang="scss">
  .compose {
    .v-toolbar__title {
      color: #434399;
      font-weight: normal;
      line-height: 24px;
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
  }
  .compose-counter {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    height: 56px;
    width: 100%;
    display: flex;
    place-content: flex-end;
    padding-right: 20px;
  }
  .counter {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* or 164% */

    display: flex;
    align-items: center;
    text-align: right;
    font-feature-settings: 'liga' off;

    color: rgba(0, 0, 0, 0.38);
  }

  .v-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
  .v-textarea {
    margin-top: 25px !important;
  }
</style>