<template>
  <v-app>
    <div class="friend-list">
      <v-toolbar flat fixed>
        <v-btn icon color="#434399" @click="$router.back()">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <v-toolbar-title>Friend list</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon color="#434399">
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container fluid class="mt-12">
        <v-btn icon class="filter-icon">
          <v-icon>mdi-filter-variant</v-icon>
        </v-btn>
        <span class="filter-text">Filter by</span>
        <v-row class="mt-2">
          <v-col
            cols="12"
            class="request-lists d-flex align-center pb-2 pt-2"
            v-for="request in requests"
            :key="request.id">
            <v-avatar size="40px">
              <img :alt="request.name" :src="request.image" />
            </v-avatar>
            <div class="name ml-5">{{ request.name }}</div>
            <v-card-actions class="pt-0 pb-0 align-self-end right">
              <v-menu nudge-width="150" nudge-left="150" bottom :close-on-click="true">
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" class="action3dots">
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item v-for="item in items" :key="item.id" @click="openMenu()">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-card-actions>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>
<script>
export default {
  name: "FriendList",
  data() {
    return {
      requests: [
        {
          id: 1,
          name: "Randy Corpuz",
          image: "https://loremflickr.com/320/240?random=1",
          status: false
        },
        {
          id: 2,
          name: "Andy Corpuz",
          image: "https://loremflickr.com/320/240?random=2",
          status: false
        },
        {
          id: 3,
          name: "Naruto Bautista",
          image: "https://loremflickr.com/320/240?random=3",
          status: true
        },
        {
          id: 4,
          name: "Marygrace Varquez",
          image: "https://loremflickr.com/320/240?random=4",
          status: false
        }
      ],
      items: [
        { id: 1, title: "Edit Post" },
        { id: 2, title: "Delete" }
      ],
      closeOnContentClick: true,
      isMenuOpen: false
    };
  },
  methods: {
    openMenu() {
      //
    }
  }
};
</script>
<style lang="scss">
.friend-list {
  display: flex;
  .v-toolbar {
    .v-icon {
      color: #434399;
    }
  }
  .v-toolbar__title {
    color: #434399;
    font-weight: normal;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .v-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
  .request-lists {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    .name {
      margin-left: 20px;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      /* or 164% */

      font-feature-settings: "liga" off;

      color: #000000;

      mix-blend-mode: normal;
      opacity: 0.87;
    }
    .v-card__actions {
      text-align: right;
    }
  }
  .disabled-click {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* or 164% */

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: "liga" off;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* or 164% */
    color: #000000;
    font-feature-settings: "liga" off;
  }
  .filter-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /* or 164% */
    color: #747474;
    font-feature-settings: "liga" off;
  }
  .filter-icon {
    .v-icon {
      color: #747474;
    }
  }
  .action3dots {
    .v-icon {
      color: #747474;
    }
  }
}
</style>