<template>
  <div class="friend-request">
    <v-toolbar flat fixed>
      <v-btn icon @click="$router.back()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>Friend request</v-toolbar-title>

      <v-spacer></v-spacer>

    </v-toolbar>
    <v-container fluid class="mt-5">
      <v-row>
        <v-col cols="12" class="request-lists d-flex align-center" v-for="request in requests" :key="request.id">
          <v-avatar size="36px">
            <img
              :alt="request.name"
              :src="request.image">
          </v-avatar>
          <div class="name ml-5">
            {{ request.name }}
          </div>
          <v-card-actions v-if="!request.status" class="pt-0 pb-0 align-self-end right">
            <v-btn icon>
              <v-icon color="#E24444">mdi-close</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon color="#E24444">mdi-check</v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-actions v-if="request.status" class="pt-0 pb-0 align-self-end right">
            <v-btn icon disabled>
              <v-icon color="#9e9e9e">mdi-check</v-icon>
            </v-btn>
            <v-btn text small disabled class="disabled-click">Friends</v-btn>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'FriendRequest',
  data() {
    return {
      requests: [
        {
          id: 1,
          name: 'Randy Corpuz',
          image: 'https://loremflickr.com/320/240?random=1',
          status: false,
        },
        {
          id: 2,
          name: 'Andy Corpuz',
          image: 'https://loremflickr.com/320/240?random=2',
          status: false,
        },
        {
          id: 3,
          name: 'Naruto Bautista',
          image: 'https://loremflickr.com/320/240?random=3',
          status: true,
        },
        {
          id: 4,
          name: 'Marygrace Varquez',
          image: 'https://loremflickr.com/320/240?random=4',
          status: false,
        },
      ]
    }
  },
  methods: {
    //
  }
}
</script>
<style lang="scss">
  .friend-request {
    display: flex;
    .container {
      margin-top: 60px;
    }
    .v-toolbar {
      .v-icon {
        color: #434399;
      }
    }
    .v-toolbar__title {
      color: #434399;
      font-weight: normal;
      line-height: 24px;
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
    .v-toolbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
    }
    .request-lists {
      display: flex;
      align-items: center;
      padding: 0px 12px;
      .name {
        margin-left: 20px;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* or 164% */
      
        font-feature-settings: 'liga' off;

        color: #000000;

        mix-blend-mode: normal;
        opacity: 0.87;
      }
      .v-card__actions {
        text-align: right;
      }
    }
    .disabled-click {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      /* or 164% */

      display: flex;
      align-items: center;
      text-align: center;
      font-feature-settings: 'liga' off;
    }
  }

</style>