<template>
  <div>
    <Appbar></Appbar>
    <Footer></Footer>
  </div>
</template>
<script>
 import Footer from '../../components/Footer.vue'
 import Appbar from '../../components/Appbar.vue'

  export default {
      name: 'Activity',
      components: {
        Appbar, Footer
      },
      pwa: {
        themeColor: '#000'  
      },
      metaInfo: {
        title: 'Home',
        titleTemplate: '%s | Outcrowd',
        htmlAttrs: {
          lang: 'en',
          amp: true
        },
        headAttrs: {
          nest: 'eggs'
        },
        meta: [
          { charset: 'utf-8' },
          { name: 'theme-color', content: '#434399'},
          { name: 'description', content: 'gator' },
        ]
      },
      data(){
          return {
              //
          }
      },
      computed: {
          //
      },
      methods: {
        //
      }
  }
</script>
<style lang="scss">
    //
</style>