<template>
  <div id="app">
  <v-app >
      <v-app-bar
        absolute
        dark
        prominent
        extended
        extension-height="80"
        shrink-on-scroll
        scroll-target="#scrolling-techniques-3"
      >
        <v-btn absolute icon @click="$router.back()" class="arrow-left">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title class="pl-0">
          <v-avatar height="115" width="115">
            <img
              src="../assets/avatar.jpg"
            >
          </v-avatar>
          <div style="display: flex; flex-direction: column">
            <div class="name">
              Ana Beech
              <span class="address">Island Garden City of Samal, Philippines</span>
              <span style="align-self: flex-start;" class="score1">90 credit score (5 reviews)</span>
            </div>
            <div style="
            height: 100%; 
            text-align: right;    
            display: flex;
            flex-direction: column;
            place-content: flex-end;">
              <span class="score2">90 credit score (5 reviews)</span>
              <v-progress-linear 
              value="90" 
              style="align-self: flex-end; border-radius: 10px" 
              background-color="white" 
              background-opacity="0.54" 
              color="white"></v-progress-linear>
            </div>
          </div>
        </v-toolbar-title>
  
        <v-spacer></v-spacer>
        <v-menu nudge-width="150" nudge-left="150" bottom :close-on-content-click="closeOnContentClick">
          <template v-slot:activator="{ on, attrs }">
              <v-btn 
                class="dots"
                icon
                v-bind="attrs"
                v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
          </template>

            <v-list>
              <v-list-item
                  v-for="(item, index) in items"
                  :key="index"
                  @click="openMenu()"
                >
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
  
        <template v-slot:extension>
          <v-tabs grow align-with-title>
            <v-tab @click.prevent="openPost">3 <span>Posts</span></v-tab>
            <v-tab @click.prevent="openFriend">135 <span>Friends</span></v-tab>
            <v-tab @click.prevent="openEvent">12 <span>Events</span></v-tab>
          </v-tabs>
        </template>
      </v-app-bar>
      <v-sheet
        id="scrolling-techniques-3"
        class="overflow-y-auto"
        max-height="100vh"
      >
        <v-container style="padding-top: 300px; padding-bottom: 70px; background: #E5E5E5">
          <ContentPost v-if="post"></ContentPost>
          <ContentFriend v-if="friend"></ContentFriend>
        </v-container>
      </v-sheet>
  </v-app>

</div>
</template>
<script>
import { Scroll } from 'vuetify/lib/directives/scroll'
import ContentPost from '../components/ContentPost'
import ContentFriend from '../components/ContentFriend'

export default {
  name: 'Appbar',
  components: {
      ContentPost, ContentFriend
  },
  directives: {
    Scroll,
  },
  data() {
      return {
        bottomNav: '',
        friend: false,
        post: true,
        event: false,
        items: [
          { title: 'Edit Post' },
          { title: 'Delete' },
        ],
      }
  },
  methods: {
    onScroll() {
      // @hack: https://github.com/vuetifyjs/vuetify/issues/9993
      const { appBar } = this.$refs
      if (appBar.currentScroll < appBar.currentThreshold) {
        appBar.isActive = true
      }
    },
    openPost() {
      this.post = true;
      this.friend = false;
      this.event = false;
    },
    openFriend() {
      this.post = false;
      this.friend = true;
      this.event = false;
    },
    openEvent() {
      this.post = false;
      this.friend = false;
      this.event = true;
    }
  }
}
</script>
<style lang="scss">
.v-tab {
  margin-left: 0 !important;
}
.v-app-bar--shrink-on-scroll {
  background: linear-gradient(180deg, #E24444 0%, #434399 100%);
  .score1 {
    display: none;
  }
  .v-avatar {
    display: block;
  }
  &.v-app-bar--is-scrolled {
    background: #fff !important;
    .dots {
      color: #434399;
    }
    .arrow-left {
      color: #434399;
    }
    .score1 {
      display: flex;
    }
    .v-progress-linear {
      display: none !important;
    }
    .address {
      display: none !important;
    }
    .score2 {
      display: none !important;
    }
    .v-avatar {
      display: none;
    }
    .v-toolbar__title {
      position: relative;
      top: 40px;
      align-self: center;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      .name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        font-feature-settings: 'liga' off;

        /* Black */

        color: #000000;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: right;

        /* Dark slate blue */

        color: #434399;
        opacity: 0.54;
      }
    }
    .v-app-bar__nav-icon {
      span {
        color: #434399;
      }
    }
    .v-tabs {
      .v-tabs-slider {
        color: #E24444;
      }
      .v-tab {
        flex-direction: column;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: rgba(41, 23, 23, 0.58) !important;
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 23px;
        }
        &.v-tab--active {
          color: #000 !important;
        }
      }
    }

  }
}
.v-tabs {
  .v-tab {
    align-self: flex-end;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 23px;
    }
  }
}
.v-toolbar__title {
    display: flex;
    flex-direction: row;
  .v-avatar {
    margin-right: 1rem;
    img {
      border: 3px solid #FFFFFF;
      box-sizing: border-box;
    }
  }
  .name {
    display: flex;
    flex-direction: column;
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;

      color: #FFFFFF;
    }
  }
  .score2 {
    align-self: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
    color: #FFFFFF;
    opacity: 0.58;
  }
}

</style>