<template>
  <div>
    <v-card
      class="mx-auto"
      flat>
      <v-list-item>
        <v-list-item-avatar color="grey">
            <img src="../assets/avatar.jpg"></v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="headline">Ana Beech</v-list-item-title>
          <v-list-item-subtitle>1hr</v-list-item-subtitle>
        </v-list-item-content>
        <v-spacer></v-spacer>
        <v-menu nudge-width="150" nudge-left="150" bottom :close-on-content-click="closeOnContentClick">
          <template v-slot:activator="{ on, attrs }">
              <v-btn 
                icon
                v-bind="attrs"
                v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
          </template>

            <v-list>
              <v-list-item
                  v-for="(item, index) in items"
                  :key="index"
                  @click="openMenu()"
                >
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
      </v-list-item>

      <v-img
        src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
        height="194"
      ></v-img>

      <v-card-text>
        Visit ten places on our planet that are undergoing the biggest changes today.
      </v-card-text>

      <v-card-actions>
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card
      class="mx-auto"
      flat>
      <v-list-item>
        <v-list-item-avatar color="grey">
            <img src="../assets/avatar.jpg"></v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="headline">Ana Beech</v-list-item-title>
          <v-list-item-subtitle>1hr</v-list-item-subtitle>
        </v-list-item-content>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-list-item>

      <v-card-subtitle>Listen to your favorite artists and albums whenever and wherever, online and offline.</v-card-subtitle>


      <v-card-text>
        Visit ten places on our planet that are undergoing the biggest changes today.
      </v-card-text>

      <v-card-actions>
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
export default {
  name: 'ContentPost',
  data() {
    return {
      items: [
        { title: 'Edit Post' },
        { title: 'Delete' },
      ],
      closeOnContentClick: true,
    }
  },
  methods: {
    openMenu() {
      //
    }
  }
}
</script>
<style lang="scss">
  .v-card {
    margin-bottom: 10px;
    .v-list-item__title {
      &.headline {
        font-weight: 500;
        font-size: 16px !important;
        line-height: 17px;

        color: #000000;

        mix-blend-mode: normal;
        opacity: 0.87;
      }
    }
    .v-list-item__subtitle {
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      /* or 164% */

      display: flex;
      align-items: center;
      font-feature-settings: 'liga' off;

      color: #000000;

      mix-blend-mode: normal;
      opacity: 0.54;
    }
  }
</style>