<template>
  <div class="friends">
    <div class="requests mt-2">
      <div class="request-count">
        Requests (5)
      </div>
      <div class="see-all">
        <v-btn @click="$router.push({name: 'friend-request'})" class="see-all" text small color="#434399">See all</v-btn>
      </div>
    </div>
    <div class="request-lists mb-5">
      <v-col cols="12" class="align-center d-flex" v-for="request in requests" :key="request.id">
        <v-avatar size="36px" @click="$router.push({name: 'home-friend'})">
          <img
            :alt="request.name"
            :src="request.image">
        </v-avatar>
        <div class="name ml-5">
          {{ request.name }}
        </div>
        <v-card-actions class="pt-0 pb-0 align-self-end right">
          <v-btn icon>
            <v-icon color="#E24444">mdi-close</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon color="#E24444">mdi-check</v-icon>
          </v-btn>
        </v-card-actions>
      </v-col>
    </div>
    <div class="incrowd d-flex justify-space-between">
      <div class="friend-count">
        Incrowd (129)
      </div>
      <div class="see-all">
        <v-btn @click="$router.push({name: 'friend-list'})" class="see-all" text small color="#434399">See all</v-btn>
      </div>
    </div>
    <div class="incrowds">
      <div class="incrowd-lists">
        <v-col cols="12" class="align-center d-flex" v-for="request in requests" :key="request.id">
          <v-avatar size="36px">
            <img
              :alt="request.name"
              :src="request.image">
          </v-avatar>
          <div class="name ml-5">
            {{ request.name }}
          </div>
        </v-col>
      </div>
    </div>  
  </div>
</template>
<script>
export default {
  name: 'ContentFriend',
  data() {
    return {
      requests: [
        {
          id: 1,
          name: 'Randy Corpuz',
          image: 'https://loremflickr.com/320/240?random=1',
        },
        {
          id: 2,
          name: 'Andy Corpuz',
          image: 'https://loremflickr.com/320/240?random=2',
        },
        {
          id: 3,
          name: 'Naruto Bautista',
          image: 'https://loremflickr.com/320/240?random=3',
        },
        {
          id: 4,
          name: 'Marygrace Varquez',
          image: 'https://loremflickr.com/320/240?random=4',
        },
      ]
    }
  },
  methods: {

  }
}
</script>
<style lang="scss">
  .friends {
    .requests {
      display: flex;
      justify-content: space-between;
      .request-count {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* identical to box height, or 164% */

        display: flex;
        align-items: center;
        font-feature-settings: 'liga' off;

        color: rgba(0, 0, 0, 0.54);
      }
    }
    .request-lists {
      background: #FFFFFF;
      margin: 12px -12px;
      .name {
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* or 164% */

        font-feature-settings: 'liga' off;

        color: #000000;

        mix-blend-mode: normal;
        opacity: 0.87;
      }
      .v-card__actions {
        text-align: right;
      }
    }
    .see-all {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: right;
      text-transform: uppercase;
      /* Dark slate blue */

      color: #434399;
    }
    .incrowd {
      .friend-count {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        /* identical to box height, or 164% */

        display: flex;
        align-items: center;
        font-feature-settings: 'liga' off;

        color: rgba(0, 0, 0, 0.54);
      }
    }
    .incrowds {
      .incrowd-lists {
        background: #FFFFFF;
        margin: 12px -12px;
        .name {
          width: 100%;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 23px;
          /* or 164% */

          font-feature-settings: 'liga' off;

          color: #000000;

          mix-blend-mode: normal;
          opacity: 0.87;
        }
      }
    }
  }
</style>