<template>
<div>
  <v-bottom-navigation
    v-if="$router.currentRoute.name == 'home'"
    v-model="bottomNav"
    light
    shift
    grow
    fixed>
    <v-btn>
      <span>Home</span>
      <v-icon>mdi-home-outline</v-icon>
    </v-btn>

    <v-btn>
      <span>Event</span>
      <v-icon>mdi-calendar-text-outline</v-icon>
    </v-btn>

    <v-btn>
      <span>Search</span>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn>
      <span>Profile</span>
      <v-icon>mdi-face-profile</v-icon>
    </v-btn>
  </v-bottom-navigation>
  <v-bottom-navigation
    class="add-as-friend"
    v-if="false"
    light
    background-color="#E24444"
    fixed>
    <v-btn>
      <v-icon>mdi-account-plus</v-icon>
    Add as friend
    </v-btn>

  </v-bottom-navigation>
  <v-bottom-navigation
    class="cancel-friend-request"
    v-if="$router.currentRoute.name == 'home-friend'"
    light
    background-color="#bdbdbd"
    fixed>
    <v-btn>
      <v-icon>mdi-account-plus</v-icon>
    Cancel friend request
    </v-btn>

  </v-bottom-navigation>
  <v-fab-transition>
    <v-btn
      v-if="$router.currentRoute.name == '/home'"
      @click="$router.push({name: 'compose'})"
      class="activity_fab"
      fixed
      dark
      fab
      bottom
      right
      color="#E24444">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </v-fab-transition>
</div>

</template>
<script>
export default {
  name: 'Footer',
  components: {
      //
  },
  data() {
      return {
        bottomNav: ''
      }
  },
}
</script>
<style lang="scss">
  .activity_fab {
    bottom: 70px !important;
  }
  .add-as-friend {
    .v-btn {
      min-width: 100% !important;
    }
    .v-btn__content {
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      color: #FFFFFF;
      text-transform: uppercase;
      flex-direction: row !important;
      .v-icon {
        margin-right: 10px;
      }
    }
  }
  .cancel-friend-request {
    .v-btn__content {
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      color: #4f4f4f;
      text-transform: uppercase;
      flex-direction: row !important;
      .v-icon {
        margin-right: 10px;
      }
    }
  }
</style>