<template>
  <v-fade-transition mode="out-in">
    <router-view />
  </v-fade-transition>
</template>

<script>

export default {
  name: 'App',

  components: {
    //
  },

  data: () => ({
    //
  }),
};
</script>
<style lang="scss">
  @import '@/../assets/scss/_index.scss';
</style>